/* ColorPicker.css */

body{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 400px;
  width: 300px;
  margin:0;
  background: linear-gradient( rgb(255, 255, 255) 0%, rgb(255, 235, 212) 70%);
}
.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5px;
  border-bottom: 1px solid #FF9F68;
}
.body-container {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.selected-color {
  width: 100%;
  display: flex;
  flex-direction:  row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.selected-color-box{
  margin-left: 5%;
  width: 40px;
  height: 15px;
  border: 2px solid #FF9F68;
  opacity: 0.7;
  border-radius: 6px;
}

.selected-hex{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}

.selected-hsl{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}

.selected-rgb{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 15px;
  border-bottom: 1px solid #FF9F68;
}

.recent-container {
  margin-top: 7px;
  width: 100%;
  padding-bottom: 7px;
  border-bottom: 1px solid #ff9f68;
}

.recent-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.recent-color {
  width: 20px; 
  height: 20px;
  border-radius: 50%;
  border: 2px solid #FF9F68;
  opacity: 0.5;
  background-color: white;
}

.color-discs {
  display: flex;
  justify-content: space-evenly;
  gap: 5px; 
}

.palette-container{
  margin-top: 3px;
  width: 100%;
}

.palette-header{
  margin-top: 4px;
  margin-bottom: 5px;
}

.display{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border:  1px solid #FF9F68;
  border-radius: 6px;
  background: none;
 }

.display.left {
  text-transform: uppercase;
}
.display:hover {
  background-color: #FF9F68;
  cursor: pointer;
}

.selected-hex-boxes{
  display: flex;
  width: 100%;
  gap: 5px;
}

h6 {
  font-size: larger;
  margin:0%;
}
 .logo {
  width: 100%;
 }

.color-picker-button {
  margin-top: 8px;
  width: 95%;
  height: 40px;
  background-color: #FF9F68;
  border: none;
  border-radius: 5px;
}
 .pick-color-text{
  font-weight: 600;
 }

 .clear {  
  border: none;
  background: none;
 }

canvas {
 position: fixed;
 top: 0;
 left: 0;
 margin: 0;
}
